venv
Sis_Tienda-main/SistemaVentas/SistemaVentas/__pycache__
Sis_Tiendaok-main\SistemaVentas\SistemaVentas\__pycache__
/Sis_Tiendaok-main/SistemaVentas/SistemaVentas/__pycache__
Sis_Tiendaok-main/SistemaVentas/SistemaVentas/__pycache__/__init__.cpython-312.pyc
